{$CADDY_DOMAIN}:443 {
  log {
    output stderr
    level INFO
  }
  tls {$CADDY_EMAIL}
  encode zstd gzip
  header / {
    Strict-Transport-Security "max-age=31536000;"
    X-XSS-Protection "0"
    X-Frame-Options "SAMEORIGIN"
    X-Robots-Tag "noindex, nofollow"
    X-Content-Type-Options "nosniff"
    -Server
    -X-Powered-By
    -Last-Modified
  }
  reverse_proxy /notifications/hub vaultwarden:3012
  reverse_proxy / * vaultwarden:80 {
    header_up X-Real-IP {remote_host}
  }
}
