{
    servers {
        trusted_proxies {
            # Import the dynamically updated list of Cloudflare IPs
            import /etc/caddy/cloudflare_ips.caddy
        }
    }
}

{env.APP_DOMAIN} {
    encode zstd gzip

    # Handle health checks first
    handle /health {
        respond "OK" 200
    }

    # Handle all other traffic
    reverse_proxy vaultwarden:80

    tls {env.ADMIN_EMAIL}
    log {
        output file /logs/access.log
        format single_field common_log
    }
 
   header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
        Referrer-Policy "strict-origin-when-cross-origin"
    }
}
